package auth_views

import "github.com/donaldgifford/tbccgolf/views/layout"

templ Home() {
<section>
  <h1>Welcome to TBCC Golf !!</h1>
  <p>
    Create new matches, etc, etc.
  </p>
</section>
}

templ HomeIndex(
title string,
cmp templ.Component,
) {
@layout.Base(title) {
@cmp
}
}
