body > header {
  padding-top: 2em;
  padding-bottom: 0;
}

body > footer {
  padding-top: 0;
  padding-bottom: 2em;
}

.credential-card {
  font-size: 16px;
}

.credential-card > main > div {
  margin-top: 1em;
}

.credential-card > header {
  margin-bottom: calc(var(--pico-spacing) * 2);
}

.credential-card > footer {
  margin-top: calc(var(--pico-spacing) * 2);
}
