---
permalink: /:path/:basename:output_ext
title: {{ .WebTitle }}
layout: adr
---


# {{ .ADR.Title }}

| Status | Author         | Date       |
| ------ | -------------- | ---------- |
| {{ .ADR.Status }} | {{ .ADR.Author }} | {{ .ADR.Date }} |

## Context and Problem Statement

## Decision Drivers


## Considererd Options


## Decision Outcome
